<div class="cover top-hero">
  <div class="top-center text-center">
    <h1 class="title mb-3">Musiclyrics</h1>

    <%= link_to "/users/sign_in", class: "play-btn" do %>
      ▶
   <% end %>


    <p class="sub-title mt-3 mb-0">@Music-</p>
  </div>
</div>
