.top-hero {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.title {
  font-family: serif;
}

.play-btn {
  width: 35px;
  height: 35px;
  border-radius: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 64px;
  text-decoration: none;

  position: relative;
  top: 200px;   /* 下に */
  right: 1px;

  background:rgba(255,255,255,0);
  box-shadow: none;

  transition: background .15s ease, box-shadow .15s ease, transform .12s ease;
}

.play-btn:hover {
  background: rgba(255,255,255,0.25);
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  transform: scale(1.05);
}

.play-btn:active {
  transform: scale(0.92);              /* 小さくなる */
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}

.sub-title {
  opacity: 0.8;
}

.text-center {
  display: table-cell;
  vertical-align: middle;
  font-family: serif;
}

.comments-index {
  background-color: #fff;
  border: 1px #fff solid;
}

.comment-delete {
  margin-left: auto;
}

.comments {
  margin-left: 50px;
  font-family: serif;
}

.caption {
  margin-bottom: 0;
  font-family: serif;
}