.title {
  font-family:'Homemade Apple', cursive;
  color: #ffffff;
}
  
.sub-title {
  font-family: serif;
}

.cover {
  height: 100%;
  width: 100%;
  display: table;
  background-image: url(/assets/aoi.jpg);
  background-color:rgba(255, 255, 255, 0);
  background-blend-mode:lighten;
  background-size: 100% 100%;
}

.text-center {
  display: table-cell;
  vertical-align: middle;
  font-family: serif;
}

.comments-index {
  background-color: #fff;
  border: 1px #fff solid;
}

.comment-delete {
  margin-left: auto;
}

.comments {
  margin-left: 50px;
  font-family: serif;
}

.caption {
  margin-bottom: 0;
  font-family: serif;
}