h1 {
    font-family: serif;
  }
  
  .cover-new {
    height: 100%;
    width: 100%;
    background-image: url(/assets/siro.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
  }
  
  .form-label {
    font-size: 20px;
    font-family: serif;
  }
  
  .form-group {
    width: 600px;
    font-family: serif;
  }

  .cover-index {
    height: 110%;
    width: 100%;
    background-image: url(/assets/index.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
  }
  
  .one-post img:hover {
    transform: none;
    opacity: 0.7;
  }
  
  .caption {
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-family: serif;
  }
  
  .index-left {
    margin-left: 2.5rem!important;
    font-family: serif;
  }

  .cover-show {
    height: 100%;
    width: 100%;
    background-image: url(/assets/show.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
    font-family: serif;
  }
  
  #text {
    font-size: 18px;
    font-family: serif;
  }

  .cover-edit {
    height: 100%;
    width: 100%;
    background-image: url(/assets/edit.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
  }


  .page a,
.next a,
.last a,
.first a,
.prev a {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  font-family: serif;
}

.page a:hover,
.next a:hover,
.last a:hover,
.first a:hover,
.prev a:hover {
  color: black;
  font-family: serif;
}

.current {
  font-family: serif;
}

.favorite_btn {
  color: #8a0606;
}